<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </style>
    </head>

    <body style="background-color: #B4CFEC; ">
        <nav class="navbar navbar" style="background-color: #6699cc;">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="https://image.flaticon.com/icons/svg/29/29302.svg" style="float:left"width=10%\>
                <a class="navbar-brand" style="color:black; float:left" href="{{ url_for('main')}}"><strong>&ensp;Get 'em Reviews</strong></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <form action="{{url_for('profile')}}" class="navbar-form navbar-right">
                        <button class="btn btn-default" style="border: none; background-color: #6699cc;">
                            <span class="glyphicon glyphicon-user"></span> Profile
                        </button>
                    </form>
                </li>
                <li class="nav-item">
                    <form action="{{url_for('search')}}" class="navbar-form navbar-right" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search" name="key_word">
                            </div>
                        <button name = "search" value="search" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </form>
                    <form action="{{url_for('search')}}" class="navbar-form navbar-right" method="post">
                        <button name="favorites" value="favorites" class="btn btn-default" style="border: none; background-color: #6699cc;">
                            <span class="glyphicon glyphicon-star" name = "favorites" value = "favorites" ></span> Favorites
                        </button>
                    </form>
                </li>
                <li class="nav-item">
                    <form action="{{url_for('logout')}}" class="navbar-form navbar-right">
                        <button class="btn btn-default" style="border: none; background-color: #6699cc;">
                            <span class="glyphicon glyphicon-log-out"></span> Log out
                        </button>
                    </form>
                </li>
            </ul>
        </div>
        </nav>

        <div class="container">
            {% block body %}{% endblock %}
        </div>

    </body>
</html>