{% extends 'layout.html' %}
{% block title %} Get 'em Reviews {% endblock %}
{% block body %}
  <div class="imgcontainer" style="text-align: center; margin: 0 auto; padding : 0">
    <br> <br> 
    <h1 style = "font-size: 60px; font-family: Garamond;"> Book Highlight:</h1>
    <h1 style = "font-size: 60px; font-family: Garamond;"> {{book.title}} </h1>
      <img src="http://covers.openlibrary.org/b/isbn/{{book.isbn}}-M.jpg">
      <h2 style="font-family: Garamond;"> Why don't you try searching for more awesome books? </h2>
      
    </div>
{% endblock %}

