{% extends 'layout.html' %}
{% block title %} Update Profile {% endblock %}
{% block body %}
    <div class="imgcontainer" style="margin:auto">
        <img src="static/profile.png"\>
    </div>
    <div style="margin: 0 auto;
    width: 50%;">
        <h1> Current name</h1>
        <form>
            <div style="float:right; margin-left:10px">
                <br>
                <button class="update-btn" name="update" value="signup">UPDATE</button>
            </div>
            
            <div style="float:right">
                <strong style="float:up"> UPDATE NAME </strong>
                <div style="float:down;">
                    <input type="text" name="name" placeholder="Enter Name" autofocus="">
                </div>
            </div>
        </form>
    </div>
{% endblock %}