{% extends 'layout.html' %}
{% block title %} Book Results{% endblock %}
{% block body %}
<div style=" text-align: center; margin: 12px 0 6px 0;">
    <h4> Search results for: "{{key_word}}" </h4>
</div>
<br>
<div class="row book-container">
    {% for book in books %}
        <div class="col-sm-4">
            <a href="{{ url_for('book', isbn=book.isbn) }}">
                <img src="http://covers.openlibrary.org/b/isbn/{{book.isbn}}-M.jpg" width="130px"/>
            </a>
            <h3>{{book.title}}</h3>
            <h5>Author: {{book.author}}</h5>
            <h5>Published: {{book.year}}</h5>
            <h5>ISBN-10: {{book.isbn}}</h5>   
        </div>
    {% endfor %}
    </div>

{% endblock %}