<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    <title>{% block title %}{% endblock %}</title>
  {% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <style>
    body{
      background-color: #eee;
    }
    .navbar{
      background-color: #eee;
    }
  </style>
</head>
<body>
<div style="float:right; margin:5px; margin-right: 15px;">
  <h2>Hi, {% block name %} {% endblock %} !</h2>
</div>
<nav class="navbar  navbar-light" style="width: 10%; float:left">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('create')}}">Create Channel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('index')}}">Search Channel</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="{{url_for('logout')}}">Logout</a>
      </li>    
    </ul>
  </div>  
</nav>

<div>
  <h1 style="font-family: Courier; text-align: center;"> {% block channel %} {% endblock %} </h1>
</div>

<br>

<div class="container" >
  {% block body %}{% endblock %}
</div>

</body>
</html>